.body
  %h2.header
    %b Ambulancia urgentného príjmu
  %hr.blue
  .text
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum lacus neque, iaculis rutrum ex sagittis eu. Donec et sapien orci. Nunc eu tortor auctor, sagittis erat quis, condimentum mauris. Aliquam tincidunt, dolor id molestie mattis, leo elit bibendum felis, vel lobortis est elit eget urna. Quisque ex lectus, dapibus a ultricies non, cursus ac turpis. Nulla dictum faucibus tincidunt. Donec maximus diam non lorem posuere dictum.

    %p Donec non condimentum orci. Vestibulum volutpat sagittis ullamcorper. Pellentesque et erat vehicula, sagittis risus ac, viverra magna. Aenean cursus risus et velit euismod posuere. Etiam sem purus, dapibus a libero non, fringilla faucibus diam. Sed scelerisque convallis sem in imperdiet. Cras non ex ultrices, convallis quam ut, consequat leo. Nullam nec ipsum ultrices augue cursus pretium eu at felis. Aenean euismod ante tincidunt purus dignissim, sed fermentum nisl consectetur. Proin sollicitudin, justo et tempus porttitor, nisl mi sollicitudin risus, sed scelerisque velit justo ut leo.

    %p Nunc molestie velit lorem, sed luctus orci varius eu. Vivamus egestas enim ac nunc pulvinar, quis feugiat purus efficitur. Proin ex augue, condimentum a lacinia et, mollis in risus. Cras dapibus ante eget lectus efficitur egestas. Ut consectetur quam quis ante vehicula dictum. Pellentesque elementum tincidunt mi, eget facilisis ligula laoreet id. Praesent lacus lacus, pulvinar et imperdiet ac, hendrerit vel turpis. Duis molestie convallis nibh sed pulvinar. Duis venenatis turpis id leo maximus feugiat. Cras feugiat enim sed enim mattis, quis maximus elit vestibulum. Morbi id ex a purus facilisis efficitur. Suspendisse viverra id mi eleifend vulputate. Sed mauris augue, tristique non elit ut, tempus aliquet nunc. Mauris eu diam sodales, euismod ligula ac, suscipit nulla.

    %p Aliquam ut dui maximus, sodales elit sed, cursus enim. In id sapien ut ex sollicitudin aliquet. Sed placerat, erat et ultricies sollicitudin, felis urna posuere nibh, nec iaculis lorem nunc nec nisi. Nulla blandit nisl at elit posuere tincidunt. Nunc lacinia varius odio ultrices consectetur. Aliquam ornare eleifend dui, sit amet semper elit mollis ut. Vestibulum pellentesque feugiat mollis. Mauris ac iaculis arcu. Duis scelerisque, diam eu tincidunt fringilla, tellus velit euismod massa, at vestibulum odio dolor ac lacus. Sed feugiat arcu eget dui bibendum molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In in nibh sit amet metus congue lacinia. Donec condimentum dapibus tempor. Mauris sed sagittis est. Sed fringilla libero sed elit accumsan pulvinar quis vel turpis. Aliquam at lectus quis eros venenatis faucibus tincidunt nec urna.

    %images
      %a.about-aa-1{"data-lightbox" => "about-aa-1", "data-title" => "", :href => "images/about/about1.jpg"}
        %img.img-thumbnail{:src=>"images/about/about1s.jpg"}
      %a.about-aa-2{"data-lightbox" => "about-aa-2", "data-title" => "", :href => "images/about/about2.jpg"}
        %img.img-thumbnail{:src=>"images/about/about2s.jpg"}

    %p Nunc molestie velit lorem, sed luctus orci varius eu. Vivamus egestas enim ac nunc pulvinar, quis feugiat purus efficitur. Proin ex augue, condimentum a lacinia et, mollis in risus. Cras dapibus ante eget lectus efficitur egestas. Ut consectetur quam quis ante vehicula dictum. Pellentesque elementum tincidunt mi, eget facilisis ligula laoreet id. Praesent lacus lacus, pulvinar et imperdiet ac, hendrerit vel turpis. Duis molestie convallis nibh sed pulvinar. Duis venenatis turpis id leo maximus feugiat. Cras feugiat enim sed enim mattis, quis maximus elit vestibulum. Morbi id ex a purus facilisis efficitur. Suspendisse viverra id mi eleifend vulputate. Sed mauris augue, tristique non elit ut, tempus aliquet nunc. Mauris eu diam sodales, euismod ligula ac, suscipit nulla.