#rehabModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        .header
          .icon 
            %i.flaticon-patient3
          .text
            %h2#myModalLabel.modal-title Rehabilitácie kardiovaskulárnych ochorení
      .modal-body
        %center
          %ul.nav.nav-pills
            %li.active
              %a.first{"data-toggle" => "pill", :href => "#rehab1"} Pracovisko kardiovaskulárnej rehabilitácie 
            %li
              %a.second{"data-toggle" => "pill", :href => "#rehab2"} Centrum komplexnej kardiovaskulárnej rehabilitácie vo Vyšných Ružbachoch

      %hr.blue

        .tab-content

          #rehab1.tab-pane.fade.in.active
            .col-md-10.col-md-offset-1
              .tab-body
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum lacus neque, iaculis rutrum ex sagittis eu. Donec et sapien orci. Nunc eu tortor auctor, sagittis erat quis, condimentum mauris. Aliquam tincidunt, dolor id molestie mattis, leo elit bibendum felis, vel lobortis est elit eget urna. Quisque ex lectus, dapibus a ultricies non, cursus ac turpis. Nulla dictum faucibus tincidunt. Donec maximus diam non lorem posuere dictum.

                %p Donec non condimentum orci. Vestibulum volutpat sagittis ullamcorper. Pellentesque et erat vehicula, sagittis risus ac, viverra magna. Aenean cursus risus et velit euismod posuere. Etiam sem purus, dapibus a libero non, fringilla faucibus diam. Sed scelerisque convallis sem in imperdiet. Cras non ex ultrices, convallis quam ut, consequat leo. Nullam nec ipsum ultrices augue cursus pretium eu at felis. Aenean euismod ante tincidunt purus dignissim, sed fermentum nisl consectetur. Proin sollicitudin, justo et tempus porttitor, nisl mi sollicitudin risus, sed scelerisque velit justo ut leo.

                %p Nunc molestie velit lorem, sed luctus orci varius eu. Vivamus egestas enim ac nunc pulvinar, quis feugiat purus efficitur. Proin ex augue, condimentum a lacinia et, mollis in risus. Cras dapibus ante eget lectus efficitur egestas. Ut consectetur quam quis ante vehicula dictum. Pellentesque elementum tincidunt mi, eget facilisis ligula laoreet id. Praesent lacus lacus, pulvinar et imperdiet ac, hendrerit vel turpis. Duis molestie convallis nibh sed pulvinar. Duis venenatis turpis id leo maximus feugiat. Cras feugiat enim sed enim mattis, quis maximus elit vestibulum. Morbi id ex a purus facilisis efficitur. Suspendisse viverra id mi eleifend vulputate. Sed mauris augue, tristique non elit ut, tempus aliquet nunc. Mauris eu diam sodales, euismod ligula ac, suscipit nulla.

                %p Aliquam ut dui maximus, sodales elit sed, cursus enim. In id sapien ut ex sollicitudin aliquet. Sed placerat, erat et ultricies sollicitudin, felis urna posuere nibh, nec iaculis lorem nunc nec nisi. Nulla blandit nisl at elit posuere tincidunt. Nunc lacinia varius odio ultrices consectetur. Aliquam ornare eleifend dui, sit amet semper elit mollis ut. Vestibulum pellentesque feugiat mollis. Mauris ac iaculis arcu. Duis scelerisque, diam eu tincidunt fringilla, tellus velit euismod massa, at vestibulum odio dolor ac lacus. Sed feugiat arcu eget dui bibendum molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In in nibh sit amet metus congue lacinia. Donec condimentum dapibus tempor. Mauris sed sagittis est. Sed fringilla libero sed elit accumsan pulvinar quis vel turpis. Aliquam at lectus quis eros venenatis faucibus tincidunt nec urna.

                %images
                  %a.about-bb-3{"data-lightbox" => "about-bb-3", "data-title" => "", :href => "images/about/about3.jpg"}
                    %img.img-thumbnail{:src=>"images/about/about3s.jpg"}
                  %a.about-bb-4{"data-lightbox" => "about-bb-4", "data-title" => "", :href => "images/about/about4.jpg"}
                    %img.img-thumbnail{:src=>"images/about/about4s.jpg"}

                %p Nunc molestie velit lorem, sed luctus orci varius eu. Vivamus egestas enim ac nunc pulvinar, quis feugiat purus efficitur. Proin ex augue, condimentum a lacinia et, mollis in risus. Cras dapibus ante eget lectus efficitur egestas. Ut consectetur quam quis ante vehicula dictum. Pellentesque elementum tincidunt mi, eget facilisis ligula laoreet id. Praesent lacus lacus, pulvinar et imperdiet ac, hendrerit vel turpis. Duis molestie convallis nibh sed pulvinar. Duis venenatis turpis id leo maximus feugiat. Cras feugiat enim sed enim mattis, quis maximus elit vestibulum. Morbi id ex a purus facilisis efficitur. Suspendisse viverra id mi eleifend vulputate. Sed mauris augue, tristique non elit ut, tempus aliquet nunc. Mauris eu diam sodales, euismod ligula ac, suscipit nulla.

          #rehab2.tab-pane.fade
            .col-md-10.col-md-offset-1
              .tab-body


                %p Kúpele Vyšné Ružbachy dosiahli svoj cieľ a konečne zriadili prvé a jediné Centrum komplexnej kardiovaskulárnej rehabilitácie na Slovensku. Jeho vybavenie a služby, ktoré bude poskytovať, spĺňajú odporúčania Európskej skupiny pre kardiálnu rehabilitáciu, ako aj Pracovnej skupiny kardiovaskulárnej rehabilitácie Slovenskej kardiologickej spoločnosti. Liečebné účinky tohto centra sa znásobujú v kúpeľnom prostredí a tiež aj pôsobením prírodného liečivého minerálneho prameňa.

                %p Riaditeľka obchodu a marketingu Kúpeľov Vyšné Ružbachy Martina Konrádyová hovorí, že: “V celom svete sa sústreďuje pozornosť v rámci primárnej a sekundárnej prevencie srdcovo-cievnych ochorení na komprehenzívnu kardiovaskulárnu rehabilitáciu, pod ktorou sa rozumie vypracovaný systém rehabilitácie, garantom ktorej sú uvedené odborné spoločnosti.” Kúpele Vyšné Ružbachy budú vďaka tomuto centru schopné vypracovať komplexný systém rehabilitácie pacientov, ktorí prekonali infarkt myokardu a zákroky na srdci.

                %images
                  %a.about-rehab-1{"data-lightbox" => "about-rehab-1", "data-title" => "", :href => "images/ruzbachy/1.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/1s.jpeg"}
                  %a.about-rehab-2{"data-lightbox" => "about-rehab-2", "data-title" => "", :href => "images/ruzbachy/2.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/2s.jpeg"}
                  %a.about-rehab-3{"data-lightbox" => "about-rehab-3", "data-title" => "", :href => "images/ruzbachy/3.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/3s.jpeg"}
                  %a.about-rehab-4{"data-lightbox" => "about-rehab-4", "data-title" => "", :href => "images/ruzbachy/4.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/4s.jpeg"}
                  %a.about-rehab-5{"data-lightbox" => "about-rehab-5", "data-title" => "", :href => "images/ruzbachy/5.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/5s.jpeg"}
                  %a.about-rehab-6{"data-lightbox" => "about-rehab-6", "data-title" => "", :href => "images/ruzbachy/6.jpeg"}
                    %img.img-thumbnail{:src=>"images/ruzbachy/3s.jpeg"}

                %p Konrádyová tvrdí, že v súčastnosti je kardiovaskulárna rehabilitácia neoddeliteľnou súčasťou komplexnej liečby pacientov, ktorí trpia srdcovo-cievnymi ochoreniami. “Práve symbióza prírodného a vedeckého je špecifická pre naše centrum kardiorehabilitácie a táto liečba je v podstate nenahraditeľná. Hlavnou náplňou Centra kardiovaskulárnej rehabilitácie v Kúpeľoch Vyšné Ružbachy je vykonávanie následnej liečby, čiže kardiovaskulárnej rehabilitácie, pri skupine pacientov po infarkte myokardu a zákrokoch na srdci,” vysvetlila Konrádyová.

                %p Na to, aby bola kardiovaskulárna rehabilitácia skutočne účinná a efektívna, je nutné trvať na niektorých všeobecných podmienkach jej vykonávania. “Musí mať materiálne a personálne zabezpečenie podľa vyhlášky Ministerstva zdravotníctva. Centrum kardiovaskulárnej rehabilitácie v Kúpeľoch Vyšné Ružbachy, a. s., ako prvé na Slovensku spĺňa všetky tieto podmienky,” uzavrela Konrádyová.


      .modal-footer
        %button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť