.tables-heading 
  .bus-normal Pracovny den
  .bus-weekend Vikend

%table.table
  %thead
    %tr
      %th.hour
        Hodina
      %th.minute
        Minuta

  %tbody

    %tr
      %td
        05
      %td
        36
    %tr
      %td
        06
      %td
        01 &nbsp 16 &nbsp 33 &nbsp 46 &nbsp 48
    %tr
      %td
        07
      %td
        08 &nbsp 12 &nbsp 26  &nbsp 37 &nbsp 46 &nbsp 58
    %tr
      %td
        08
      %td
        01 &nbsp 21 &nbsp 41 &nbsp 47

    %tr
      %td
        09
      %td
        05 &nbsp 35

    %tr
      %td
        10
      %td
        05 &nbsp 35
    %tr
      %td
        11
      %td
        05 &nbsp 35
    %tr
      %td
        12
      %td
        05 &nbsp 35
    %tr
      %td
        13
      %td
        05 &nbsp 35 &nbsp 50
    %tr
      %td
        14
      %td
        05 &nbsp 20 &nbsp 35 &nbsp 50

    %tr
      %td
        15
      %td
        05 &nbsp 20 &nbsp 35 &nbsp 50
    %tr
      %td
        16
      %td
        05 &nbsp 20 &nbsp 35 &nbsp 50
    %tr
      %td
        17
      %td
        05 &nbsp 35
    %tr
      %td
        18
      %td
        05 &nbsp 35
    %tr
      %td
        19
      %td
        05 &nbsp 35
    %tr
      %td
        20
      %td
        05 &nbsp 35
    %tr
      %td
        21
      %td
        05 &nbsp 35
    %tr
      %td
        22
      %td
        05


%table.table.weekend
  %thead
    %tr
      %th.hour
        Hodina
      %th.minute
        Minuta
  %tbody

    %tr
      %td
        05
      %td
        36
    %tr
      %td
        06
      %td
        01 &nbsp 16 &nbsp 31 &nbsp 46
    %tr
      %td
        07
      %td
        08 &nbsp 17 &nbsp 26 &nbsp 46
    %tr
      %td
        08
      %td
        01 &nbsp 21 &nbsp 41
    %tr
      %td
        09
      %td
        05 &nbsp 35
    %tr
      %td
        10
      %td
        05 &nbsp 35
    %tr
      %td
        11
      %td
        05 &nbsp 35
    %tr
      %td
        12
      %td
        05 &nbsp 35
    %tr
      %td
        13
      %td
        05 &nbsp 35
    %tr
      %td
        14
      %td
        05 &nbsp 35

    %tr
      %td
        15
      %td
        05 &nbsp 35
    %tr
      %td
        16
      %td
        05 &nbsp 35
    %tr
      %td
        17
      %td
        05 &nbsp 35
    %tr
      %td
        18
      %td
        05 &nbsp 35
    %tr
      %td
        19
      %td
        05 &nbsp 35
    %tr
      %td
        20
      %td
        05 &nbsp 35
    %tr
      %td
        21
      %td
        05 &nbsp 35
    %tr
      %td
        22
      %td
        05