#menu
  %nav
    %h2
      %i.flaticon-menu24
      Kategórie
    %ul
      %li
        %a{:href => "#"}
          %i.flaticon-heart285
          Kardiovaskulárne ochorenia
        %h2
          %i.flaticon-heart285
          Kardiovaskulárne ochorenia
        %ul
          %li
            %a{:href => "#"}
              %i.fa.fa-phone>
              Srdcové
            %h2
              %i.fa.fa-phone>
              Srdcové
            %ul
              %li
                %a{:href => "#"} Super Smart Phone
              %li
                %a{:href => "#"} Thin Magic Mobile
              %li
                %a{:href => "#"} Performance Crusher
              %li
                %a{:href => "#"} Futuristic Experience
          %li
            %a{:href => "#"}
              %i.fa.fa-phone>
              Srdcovo cievne
            %h2
              %i.fa.fa-phone>
              Srdcovo cievne
            %ul
              %li
                %a{:href => "#"} Super Smart Phone
              %li
                %a{:href => "#"} Thin Magic Mobile
              %li
                %a{:href => "#"} Performance Crusher
              %li
                %a{:href => "#"} Futuristic Experience

      %li
        %a{:href => "#"}
          %i.flaticon-info4
          Informácie o SUSCCH a.s.
        %h2
          %i.flaticon-info4
          Informácie o SUSCCH a.s.
        %ul
          %li
            %a{:href => "#"} Základne info
          %li
            %a{:href => "#"} Personál

      %li
        %a{:href => "#"}
          %i.flaticon-hospital11
          Ambulancie + Lekáreň
        %h2
          %i.flaticon-hospital11
          Ambulancie + Lekáreň
        %ul
          %li
            %a{:href => "#"} Ambulancia urgentného príjmu
          %li
            %a{:href => "#"} Kardiologická ambulancia
          %li
            %a{:href => "#"} Arytmologická ambulancia
          %li
            %a{:href => "#"} Cievna ambulancia
          %li
            %a{:href => "#"} Ambulancia funkčnej diagnostiky
          %li
            %a{:href => "#"} ECHO ambulancia
          %li
            %a{:href => "#"} EKG ambulancia
          %li
            %a{:href => "#"} Lekáreň KARDIOFARM

      %li
        %a{:href => "#"}
          %i.flaticon-invalid
          Rehabilitácie KVS ochorení
        %h2
          %i.flaticon-invalid
          Rehabilitácie KVS ochorení
        %ul
          %li
            %a{:href => "#"} Pracovisko kardiovaskulárnej rehabilitácie
          %li
            %a{:href => "#"} Centrum komplexnej KVS rehabilitácie vo Vyšných Ružbachoch


      %li
        %a{:href => "#"}
          %i.flaticon-bus3
          Dopravné informácie
        %h2
          %i.flaticon-bus3
          Dopravné informácie
        %ul
          %li
            %a{:href => "#"} Autobusové linky zo SUSCCH a.s.

          %li
            %a{:href => "#"} Taxi-služby Banská Bystrica a okolie

      %li
        %a{:href => "#"}
          %i.flaticon-info2
          Informácie pre klientov
        %h2
          %i.flaticon-info2
          Informácie pre klientov
        %ul
          %li
            %a{:href => "#"} Informacie o zdravotných poisťovniach
          %li
            %a{:href => "#"} Informácie o liečivách

